* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Popins', Sans-Serif;

}
.logotest{
    font-size: 100px;
    color:rgba(0, 0, 0, 0.46);

}
.logotest:hover{
    color:rgb(255, 255, 255);
}
h3{
    text-align: left;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	z-index: 99;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url('https://c.wallhere.com/photos/2a/af/anime_city_sunset_sky_clouds-30098.jpg!d') no-repeat;
	background-size: cover;
	background-position: center;

}

.logo {
	font-size: 2em;
	color: white;
	user-select: none;
}

.navi a {
	position: relative;
	font-size: 1.1em;
	color: white;
	text-decoration: none;
	font-weight: 500;
	margin-left: 40px;
}

/*Tao hieu ung gach duoi cho chu */
.navi a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 3px;
	background: white;
	border-radius: 5px;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform .5s;
}
h2{
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    color:black;
}
.navi a:hover::after {
	transform-origin: left;
	transform: scaleX(1);
}

/* tao nut login */
.navi .btn {
	width: 130px;
	height: 50px;
	background: transparent;
	border: 2px solid white;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.1em;
	color: white;
	font-weight: 500;
	margin-left: 40px;
}

.navi .btn:hover {
	background: white;
	color: black;
}

/*new*/
.wrapper {
	position: relative;
	width: 400px;
	height: 440px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .5);
	border-radius: 20px;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 30px rgba(0, 0, 0, .5);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.wrapper .form-box {
	width: 100%;
	padding: 40px;
}

.wrapper .icon-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
	height: 45px;
	background: rgb(92, 91, 91);
	font-size: 2em;
	color: white;
	display: flex;
    justify-content: center;
    align-items: center;
	border-bottom-left-radius: 20px;
	cursor: pointer;
	z-index: 1;
}
.wrapper .icon-close:hover{
    background:black;
}

.form-box h2 {
	font-size: 2em;
	color: black;
	text-align: center;
}

.input-box {
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid black;
	margin: 20px 0;
}

.input-box label {
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	font-size: 1em;
	color: black;
	font-weight: 500;
	pointer-events: none;
	transition: .3s;
}

.input-box input:focus~label,
.input-box input:valid~label {
	top: -5px;
}

/*chinh khung trang email pass*/
.input-box input {
	width: 100%;
	height: 100%;
	border: none;
	background: transparent;
	outline: none;
	font-size: 1em;
	color: black;
	font-weight: 600;
	padding: 0 35px 0 5px;
}

.input-box .icon {
	position: absolute;
	right: 8px;
	font-size: 1.2em;
	color: black;
	line-height: 57px;
}

.remem {
	font-size: .9em;
	font-weight: 450;
	color: black;
	margin: 15px 0 15px;
	display: flex;
	justify-content: space-between;
}

.remem label input {
	accent-color: black;
	margin-left: 3px;
}

.remem a {
	color: black;
	text-decoration: none;
}

.remem a:hover {
	text-decoration: underline;
}

.btn2 {
	width: 100%;
	height: 40px;
	background: rgb(92, 91, 91);
	border: none;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
	font-size: 1em;
	color: white;
	font-weight: 700;
    opacity: 0.75;
}

.btn2:hover {
	background: linear-gradient(171deg, rgb(247, 238, 238) -1.9%, rgb(247, 202, 201) 44.9%, rgb(145, 168, 208) 96.1%);
	color: black;
}

.login-regis {
	font-size: 1em;
	color: black;
	text-align: center;
	font-weight: 500;
	margin: 25px 0 10px;
}

.login-regis p a {
	color: black;
	text-decoration: none;
	font-weight: 600;
}

.login-regis p a:hover {
	text-decoration: underline;
}